progress {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	}

div#current-uploads {
	margin-top: 0.75em;
	}

div#uploaded-files {
	margin-top: 0.75em;
	}

div#uploaded-files-label {
	font-weight: bold;
	}

